## Pair programming variables

Cread tres variables num√©ricas de tipo integer (entero), llamadas de la siguiente forma:
numero1
numero2
numero3

In [2]:
numero1=10
numero2=20
numero3=30

En vuestro caso, es el numero1 mayor que el numero2

In [3]:
numero1>numero2

False

Es el numero1 menor que el numero2 pero mayor que el numero3

In [4]:

numero2>numero1>numero3

False

Es el numero3 igual que el numero2

In [5]:
numero3==numero2

False

Es el numero2 distinto que el numero1

In [6]:
numero2!=numero1

True

Cread dos variables num√©ricas de tipo float (decimal) con dos decimales, llamdas de la siguiente forma:
altura1
altura2

In [8]:
altura1=1.70
altura2=1.78

Cu√°l es la suma de las dos alturas

In [9]:
print(altura1+altura2)

3.48

Cu√°l es la diferencia entre las alturas

In [8]:
print(altura1-altura2)

-0.08000000000000007

Cu√°l es el resto de la divisi√≥n de las dos alturas

In [9]:
print(altura1%altura2)

1.7

Cu√°l es resultado de la divisi√≥n de las dos alturas, redondead el resultado a un decimal.

In [13]:
print(round(altura1/altura2,1))

1.0

Escribid un programa usando la funci√≥n input() que le pregunte al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:

In [15]:
nombreyapellidos=input()

Printead su nombre y apellidos todo en may√∫sculas

In [16]:
print(nombreyapellidos.upper())

SILVIA GORDON

Printead su nombre y apellidos todo en min√∫sculas

In [17]:
print(nombreyapellidos.lower())

silvia gordon

Printead su nombre y apellidos con la primera letra del nombre y los apellidos en may√∫scula y el resto en min√∫scula.

In [18]:
print(nombreyapellidos.title())

Silvia Gordon

Printeas solo la primera letra del nombre en may√∫scula.

In [19]:
print(nombreyapellidos.capitalize())

Silvia gordon

Le pregunte al usuario por una frase, almacenad este resultado en una variable.

In [20]:
frase=input()

Le pregunte al usuario por una vocal, almacenad este resultado en una variable.

In [21]:
vocal=input()

Printead la misma frase pero con la vocal introducida en may√∫sulas.

In [27]:
print(frase + " " + vocal.upper())

Las naranjas est√°n mas caras A

Escribid un programa usando la funci√≥n input() que:
Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.
Devolved la lista de compra donde veamos cada elemento en una l√≠nea.
üí°Pista
Para indicar salto de l√≠nea usaremos "\n".
Deber√©is usar el m√©todo join de los strings
üìå Output deseado
resultado_del_input = ["peras", "manzanas", "naranjas"]

output despu√©s del ejercicio
"peras"
"manzanas"
"naranjas"

In [41]:

lista=input()

In [45]:
lista2= lista.split(",")

In [46]:
print(lista2)

[' peras', ' naranjas', ' azucar']

In [47]:
print(" \n".join(lista2))

 peras
 naranjas
 azucar