In [5]:
# Usando la funci√≥n input, cread un programa que pregunte al usuario por el nombre de tres amig@s.
nombre = input("Dime el nombre de tres amigos = ")

In [11]:
# Miramos el tipo de la variable
type(nombre)

str

In [10]:
# Almacenad los resultados del paso anterior en una lista. üí°üí°Pista Tendr√©is que usar m√©todos de los strings que aprendimos en la lecci√≥n anterior.
lista_nombre = list(nombre.split(","))

In [12]:
# Miramos el tipo que se ha convertido en una lista
type(lista_nombre)

list

In [9]:
print(lista_nombre)

['Eva', ' Celia', ' Ana']

In [13]:
# Usando la funci√≥n input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. Y almacenar los resultados en una lista.
# Esto os devolver√° una lista de strings similar a esta:
# lista_alturas = ['1.45', ' 1.67', ' 1.57']

alturas = input("Estas son las alturas de nuestros amigos =")

In [14]:
lista_alturas = list(alturas.split(","))

In [15]:
print(lista_alturas)

['1.60', ' 1.70', ' 1.50']

In [16]:
# Nos interesa que las alturas est√©n en tipo float para eso, ejecutad el siguiente c√≥digo. No es necesario que lo entend√°is, es un concepto m√°s avanzado que aprenderemos en las siguientes lecciones.

lista_alturas = [float(i) for i in lista_alturas]

In [17]:
# Ordenad las dos listas de mayor a menor. ¬øLo podr√©is hacer para la lista de nombres?

lista_nombre.sort(reverse=True)
lista_alturas.sort(reverse=True)

In [18]:
print(lista_nombre)

# Se ha printeado de mayor a menor por orden alfab√©tico, siendo E la posici√≥n 5, C la posici√≥n 3 y la A la posici√≥n 1.

['Eva', ' Celia', ' Ana']

In [19]:
print(lista_alturas)

[1.7, 1.6, 1.5]

In [20]:
# ¬øCu√°l es la altura m√°xima de todos nuestros amig@os?

print(max(lista_alturas))

# ¬øY la m√≠nima?

print(min(lista_alturas))

1.7
1.5

In [21]:
# Dadas las siguientes listas:

lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [22]:
# Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_lista.
# lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

lista_lista = [lista1,lista2]
print(lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [36]:
# Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_numeros.
# lista_numeros = [44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

lista_numeros = (lista1+lista2)
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [26]:
# De la lista lista_lista, ¬øcu√°ntas veces aparece el n√∫mero 67? ¬øy en la lista lista_numeros.
# Justificad por qu√© salen n√∫meros diferentes

lista_lista.count(67)

# Las dos listas que tenemos lista1 y lista2 las estamos concatenando en la variable lista_lista. Pero si buscamos el n√∫mero 67 no nos lo encuentra ya que cada lista es diferente.

0

In [31]:
lista_numeros.count(67)

# En este caso si nos encuentra el n√∫mero 67, ya que las dos listas (lista1 y lista2) las hemos unido en la variable lista_numeros.

2

In [37]:
# Usando la lista_numeros, dadle la vuelta a la lista.

lista_numeros.reverse()
print(lista_numeros)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]